nav div {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
    margin: 0px 30px;
    position: relative;
}

nav a {
    color: #AEC3B0;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
}

nav a:hover {
    width: 100%;
    left: 0;
}

nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #AEC3B0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav a:hover:after {
    width: 100%;
    left: 0;
}
